* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size :10px;
	background: url(http://i.imgur.com/b9r5sEL.jpg) bottom center;
	background-size: cover;
	color: white;
}

body, html {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex: 1;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}

.container .key{
	border: .4rem solid black;
	border-radius: .5rem;
	margin: 1rem;
	font-size: 1.5rem;
	padding: 1rem .5rem;
	transition: all 0.5s ease;
	text-align: center;
	background: rgba(0, 0, 0, 0.4);
	text-shadow: 0 0 .5rem black;
}

.container kbd{
	padding: 4rem;
}

.playing {
	transform: scale(1.2);
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: .1rem;
	color: #ffc600;
}

